<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Módulos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button class="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      @for (item of modules; track $index) {
        @defer (on viewport) {
          @switch (item.module.name) {
            @case ('sesadm') {
              <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
                <ion-nav-link router-direction="forward" [component]="item.module.status ? sesadm : null">
                  <ion-button expand="block" style="height: 120px;" [disabled]="!item.module.status">
                    <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                      <ion-icon [name]="item.module.icon" style="font-size: 50px;"></ion-icon>
                      <ion-text>{{item.module.name}}</ion-text>
                    </div>
                  </ion-button>
                </ion-nav-link>
              </ion-col>
            }
            @case ('sisppi') {
              <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
                <ion-nav-link router-direction="forward" [component]="item.module.status ? sisppi : null">
                  <ion-button expand="block" style="height: 120px;" [disabled]="!item.module.status">
                    <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                      <ion-icon [name]="item.module.icon" style="font-size: 50px;"></ion-icon>
                      <ion-text>{{item.module.name}}</ion-text>
                    </div>
                  </ion-button>
                </ion-nav-link>
              </ion-col>
            }
            @case ('sistfd') {
              <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
                <ion-nav-link router-direction="forward" [component]="item.module.status ? sistfd : null">
                  <ion-button expand="block" style="height: 120px;" [disabled]="!item.module.status">
                    <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                      <ion-icon [name]="item.module.icon" style="font-size: 50px;"></ion-icon>
                      <ion-text>{{item.module.name}}</ion-text>
                    </div>
                  </ion-button>
                </ion-nav-link>
              </ion-col>
            }
          }
        } @placeholder {
          <div></div>
        }
      } @empty {
        <ion-col size="12" class="ion-text-center">
          <ion-icon name="eye-off-outline" color="medium" style="font-size: 100px;"></ion-icon>
          <h3>Nenhum resultado!</h3>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>

<ion-loading message="Aguarde" isOpen="true" duration="3000"></ion-loading>

