<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mensagens</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button class="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-nav-link router-direction="forward" [component]="main_messages_new_message">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-nav-link>
  </ion-fab>
  <ion-list>
    @for (item of chats; track $index; let last = $last) {
      @defer (on viewport) {
        <app-main-messages-chat [chat]="item" [last]="last"></app-main-messages-chat>
      } @placeholder {
        <div></div>
      }
    } @empty {
      <div style="width: 100%; margin-top: 20px; display: flex; flex-direction: column; align-items: center;">
        <ion-icon name="eye-off-outline" color="medium" style="font-size: 100px;"></ion-icon>
        <h3>Nenhum resultado!</h3>
      </div>
    }
  </ion-list>
</ion-content>

<ion-loading message="Aguarde" isOpen="true" duration="3000"></ion-loading>


