<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SESADM</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button class="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      @if (hasPermission('sesadm/usuário listar')) {
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
          <ion-nav-link router-direction="forward" [component]="sesadm_users">
            <ion-button expand="block" style="height: 120px;" color="secondary">
              <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                <ion-icon name="people-outline" style="font-size: 50px;"></ion-icon>
                <ion-text>Usuários</ion-text>
              </div>
            </ion-button>
          </ion-nav-link>
        </ion-col>
      }
      @if (hasPermission('sesadm/regra listar')) {
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
          <ion-nav-link router-direction="forward" [component]="sesadm_roles">
            <ion-button expand="block" style="height: 120px;" color="secondary">
              <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                <ion-icon name="shield-checkmark-outline" style="font-size: 50px;"></ion-icon>
                <ion-text>Regras</ion-text>
              </div>
            </ion-button>
          </ion-nav-link>
        </ion-col>
      }
      @if (hasPermission('sesadm/sigtap listar')) {
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
          <ion-nav-link router-direction="forward" [component]="sesadm_sigtap">
            <ion-button expand="block" style="height: 120px;" color="secondary">
              <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                <ion-icon name="medkit-outline" style="font-size: 50px;"></ion-icon>
                <ion-text>Sigtap</ion-text>
              </div>
            </ion-button>
          </ion-nav-link>
        </ion-col>
      }
      @if (hasPermission('sesadm/município listar')) {
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
          <ion-nav-link router-direction="forward" [component]="sesadm_counties">
            <ion-button expand="block" style="height: 120px;" color="secondary">
              <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                <ion-icon name="map-outline" style="font-size: 50px;"></ion-icon>
                <ion-text>Municípios</ion-text>
              </div>
            </ion-button>
          </ion-nav-link>
        </ion-col>
      }
    </ion-row>
  </ion-grid>

</ion-content>
