<ion-item class="user" [button]="true" [lines]="last ? 'none' : 'full'" (click)="setUpdateModalOpen(true)" [disabled]="!checkRestrictRole(role.name)">
  <ion-icon size="large" slot="start" [name]="checkRestrictRole(role.name) ? 'lock-open' : 'lock-closed'" [color]="checkRestrictRole(role.name) ? 'success' : 'danger'"></ion-icon>
  <ion-text class="title" slot="end">{{role.name}}</ion-text>
</ion-item>

<ion-modal [isOpen]="isUpdateModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Editar regra</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setUpdateModalOpen(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()" style="display: flex; flex-direction: column; gap: 20px;">
        <ion-input type="text" label="Nome" label-placement="floating" formControlName="name" style="border-bottom: 1px solid gray;" [readonly]="!checkRestrictRole(role.name) || !hasPermission(module+'/regra editar')"></ion-input>
        <ion-list>
          <ion-list-header>
            <ion-text class="title" style="font-size: 18px; font-weight: 500;">Permissões</ion-text>
          </ion-list-header>
          @for (item of permissions; track $index; let last = $last) {
            <ion-item [lines]="last ? 'none' : 'full'">
              <ion-text class="title">{{item.name}}</ion-text>
              <ion-toggle slot="end" [disabled]="!checkRestrictRole(role.name) || !hasPermission(module+'/regra editar')" [checked]="havePermission(item.roles, role)" (ionChange)="changePermissionToRole(item)"></ion-toggle>
            </ion-item>
          }
        </ion-list>
        @if (checkRestrictRole(role.name)) {
          @if (hasPermission(module+'/regra editar')) {
            <ion-button expand="block" fill="solid" type="submit" [disabled]="updateForm.invalid">Alterar regra</ion-button>
          }
          @if (hasPermission(module+'/regra apagar')) {
            <ion-button expand="block" fill="solid" type="button" color="danger" (click)="setAlertOpen(true)">Excluir regra</ion-button>
          }
        }
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-toast
  [isOpen]="isToastOpen"
  [message]="toastMessage"
  position="top"
  [duration]="2000"
  (didDismiss)="setToastOpen(false)"
></ion-toast>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Apagar regra"
  message="Deseja apagar a regra?"
  [buttons]="alertButtons"
  (didDismiss)="setAlertOpen(false)"
></ion-alert>
