<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/modules" icon="caret-back" class="primary" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{user['name']}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button class="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column;">
    <app-sesadm-user-change-valid [user]="user" [module]="'sesadm'"></app-sesadm-user-change-valid>
    <app-sesadm-user-change-info [user]="user" [module]="'sesadm'" (updateUser)="getUser()"></app-sesadm-user-change-info>
    <app-sesadm-user-change-modules [user]="user" (updateUser)="getUser()"></app-sesadm-user-change-modules>
    <app-sesadm-user-change-roles [user]="user" [module]="'sesadm'" (updateUser)="getUser()"></app-sesadm-user-change-roles>
  </div>
</ion-content>
