<ion-item class="user" [button]="true" [lines]="last ? 'none' : 'full'" (click)="setShowModalOpen(true)">
  <div style="display: flex; flex-direction: column; width: 100%;">
    <ion-text slot="start" class="title">{{procedure.code}}</ion-text>
    <ion-text slot="start" class="content" style="font-size: 11px;" color="medium">{{ procedure.name.length > 40 ? procedure.name.slice(0, 40) + '...' : procedure.name }}</ion-text>
  </div>
  <ion-icon name="chevron-forward" slot="end" size="small"></ion-icon>
</ion-item>

<ion-modal [isOpen]="isShowModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Visualizar procedimento</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setShowModalOpen(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Informações gerais</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item lines="full" color="light">
              <ion-label>
                <h3>Código SIGTAP</h3>
                <ion-text color="medium" style="font-size: 12px;">{{procedure.code}}</ion-text>
              </ion-label>
            </ion-item>
            <ion-item lines="full" color="light">
              <ion-label>
                <h3>Nome</h3>
                <ion-text color="medium" style="font-size: 12px;">{{procedure.name}}</ion-text>
              </ion-label>
            </ion-item>
            <ion-item lines="full" color="light">
              <ion-label>
                <h3>Grupo</h3>
                <ion-text color="medium" style="font-size: 12px;">{{procedure.group.name}}</ion-text>
              </ion-label>
            </ion-item>
            <ion-item lines="full" color="light">
              <ion-label>
                <h3>Subgrupo</h3>
                <ion-text color="medium" style="font-size: 12px;">{{procedure.subgroup.name}}</ion-text>
              </ion-label>
            </ion-item>
            <ion-item lines="full" color="light">
              <ion-label>
                <h3>Forma de organização</h3>
                <ion-text color="medium" style="font-size: 12px;">{{procedure.organization_form.name}}</ion-text>
              </ion-label>
            </ion-item>
            <ion-item lines="full" color="light">
              <ion-label>
                <h3>Financiamento</h3>
                <ion-text color="medium" style="font-size: 12px;">{{procedure.financing.name}}</ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Modalidades</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            @for (item of procedure.modalities; track $index; let last = $last) {
              <ion-item [lines]="last ? 'none' : 'full'" color="light">
                <ion-text color="medium" style="font-size: 12px;">{{item.name}}</ion-text>
              </ion-item>
            } @empty {
              <ion-text>
                <h3>Nenhum resultado!</h3>
              </ion-text>
            }
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
